{% extends "beam/base.html" %}
{% load i18n %}
{% load beam_tags %}


{% block body_classes %}{{ block.super }} beam-detail{% if facet.model %}{% get_options facet.model as options %} beam-detail-{{ options.app_label }}-{{ options.model_name }}{% endif %}{% endblock %}


{% block extra_scripts %}{{ block.super }}{% for inline in inlines %}{{ inline.filterset.form.media.js }}{% for action in inline.actions %}{{ action.get_form.media.js }}{% endfor %}{% endfor %}{% endblock %}
{% block extra_styles %}{{ block.super }}{% for inline in inlines %}{{ inline.filterset.form.media.css }}{% for action in inline.actions %}{{ action.get_form.media.css }}{% endfor %}{% endfor %}{% endblock %}


{% block title %}
    {% if heading %}
        {{ heading }}
    {% else %}
        {% get_options facet.model as options %}
        {{ object }}
        | {{ options.verbose_name|capfirst }}
    {% endif %}
    | {{ block.super }}
{% endblock %}


{% block content %}
    {% block main_container %}
    <main class="beam-main">
        {% block main %}

            {% block links_container %}
                <div class="flex justify-end mb-4 beam-links">
                    {% block links %}
                        {% include "beam/partials/links.html" with links=viewset.links link_layout=facet.link_layout %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block heading_container %}
                <h1 class="text-3xl font-bold mb-6">
                    {% block heading %}
                        {% if heading %}
                            {{ heading }}
                        {% else %}
                            {% get_options facet.model as options %}
                            {{ object }}
                            <span class="text-base-content/60 text-lg ml-2">{{ options.verbose_name|capfirst }}</span>
                        {% endif %}
                    {% endblock %}
                </h1>
            {% endblock %}

            {% block details_container %}
                <div class="card bg-base-200 shadow-xl mb-6 beam-model-fields">
                    <div class="card-body">
                        {% block details %}
                            {% include "beam/partials/layout.html" with object=object layout=facet.layout fields=facet.fields %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

        {% endblock %}
    </main>
    {% endblock %}

    {% block above_inlines %}{% endblock %}

    {% block inlines %}
        {% for inline in inlines %}
            {% block inline %}
                {% include inline.detail_template_name|default:"beam/partials/detail_inline.html" %}
            {% endblock %}
        {% endfor %}
    {% endblock %}

    {% block below_inlines %}{% endblock %}
{% endblock %}
