{% extends "beam/base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {% if validlink %}
        <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form method="post" >
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="{% translate 'Change my password' %}" />
        </form>
    {% else %}
        <h2>{# FIXME #}Fehler</h2>
            {#  FIXME #} <a href="{% url "password_reset" %}">erneut.</a>
        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}
