{% extends "beam/detail.html" %}
{% load i18n %}
{% load beam_tags %}

{% block heading %}
    <h1>
        {% if heading %}{{ heading }}{% else %}
        {{ version }}
        <small>{% blocktrans with date=version.revision.date_created %}Version as of {{ date }}{% endblocktrans %}</small>
        {% endif %}
    </h1>
{% endblock %}

{% block below_inlines %}
    <section class="border-top">
        <div class="container">

            {% get_link_url links.version_restore version.object version_id=version.pk as version_restore_url %}
            <form action="{{ version_restore_url }}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger float-right" type="submit" value="{% trans "Revert to this version" %}">
            </form>
        </div>
    </section>
{% endblock %}

