{% extends "beam/base.html" %}
{% load i18n %}
{% load beam_tags %}


{% block heading %}
    <h1>{{ object }}</h1>
{% endblock %}

{% block content %}
    <dl>
        {% for field_name in viewset_context.fields %}
            <dt>
                {{ field_name }}
            </dt>
            <dd>
                {% get_attribute object field_name as value %}
                {% if value|is_image %}
                    {% if value %}
                        <img src="{{ value.url }}"/>
                    {% else %}
                        -
                    {% endif %}
                {% elif value|is_file %}
                    {% if value %}
                        <a href="{{ value.url }}">{% trans "Download" %}</a>
                    {% else %}
                        -
                    {% endif %}
                {% else %}
                    {{ value }}
                {% endif %}
            </dd>
        {% endfor %}
    </dl>
{% endblock %}
